{% extends "baseItem.html" %}
{% block head %}
{{super()}}
{% endblock %}

{% block nav %}
{{super()}}
{% endblock %}
{% block main %}
{{super()}}
<div class="container-fluid">
  <div class="row mx-3">
    <div class="my-3 p-3 col-xxl-6 bg-body rounded border shadow-sm">
    <div class="col-md-12 col-lg-12">
      <h4 class="mb-3">이미지 업로드</h4>
      <form class="needs-validation" novalidate>
        <div class="row g-3">
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
            
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
          <div class="col-12 my-1">
            <div class="input-group has-validation">
              <span class="input-group-text">img</span>
              <input type="file" class="form-control" id="username" accept="image/png, image/gif, image/jpeg" required>
            </div>
          </div>
          
        </div>
        
        
        <hr class="my-4">
        <button class="btn btn-primary btn-lg" type="submit">Continue to checkout</button>
      </form>
    </div>
    </div>
  </div>
</div>

{% endblock %}
{% block footer %}{% endblock %}